Werkzeug==0.16.1
flask == 2.3.2
flask-restx >= 0.1.1
flask-cors >= 3.0.8
simplekml >= 1.3.1
pathlib2 >= 2.1.0
geojson >= 2.5.0
numpy >= 1.17.0
google-cloud-storage >= 1.25.0
python.dateutil >= 2.8.0
shapely >= 1.7.0
pandas <=1.0.2
geopandas >=0.7.0
matplotlib >= 3.2.1
mplleaflet >= 0.0.5
Flask-Threads >= 0.0.1a0
requests